* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: #000000;
  position: relative;
  width: 1920px;
  height: 5448px;
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
}

.background-image {
  position: absolute;
  width: 1920px;
  height: 1573px;
  left: 0px;
  top: 0px;
  background-image: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%), url("../assets/images/hero-bg.png");
}

.background-gradient-1 {
  position: absolute;
  width: 1920px;
  height: 1200px;
  left: 0px;
  top: 0px;
}

.background-gradient-2 {
  position: absolute;
  width: 1920px;
  height: 358px;
  left: 0px;
  top: 1215px;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%);
}

.header {
  position: absolute;
  width: 1751px;
  height: 25px;
  left: 85px;
  top: 64px;
  color: white;
}

.logo {
  position: absolute;
  height: 33px;
  width: 87px;
  left: 0px;
  top: -6px;
  border-radius: nullpx;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

.nav-menu {
  position: absolute;
  width: 348px;
  height: 25px;
  left: 702px;
  top: 2px;
  font-style: normal;
}

.nav-information {
  position: absolute;
  width: 105px;
  height: 25px;
  left: calc(50% - 105px/2 - 121px);
  top: calc(50% - 25px/2 + 2px);
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.nav-about {
  position: absolute;
  width: 78px;
  height: 25px;
  left: calc(50% - 78px/2 + 20.5px);
  top: calc(50% - 25px/2 + 2px);
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.nav-culture {
  position: absolute;
  width: 65px;
  height: 25px;
  left: calc(50% - 65px/2 + 142px);
  top: calc(50% - 25px/2 + 2px);
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.nav-search {
  position: absolute;
  width: 88px;
  height: 23px;
  left: 1663px;
  top: 0px;
  opacity: 0.6;
}

.coolicon {
  width: 20px;
  height: 20px;
  left: 1663px;
  top: 2.5px;
}

.btn-search-head {
  position: absolute;
  width: 54px;
  height: 23px;
  left: 34px;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #FFFFFF;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  position: absolute;
  width: 950px;
  height: 261px;
  left: 500px;
  top: 287px;
  border-radius: 0px; 
}

p.line {
  position: absolute;
  width: 72px;
  height: 2px;
  left: 0px;
  top: 10px;
  background: #FFC178;
}

p.text {
  position: absolute;
  width: 416px;
  height: 25px;
  left: 104px;
  top: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FFC178;
}

.main-word-1 {
  width: 950px;
  height: 204px;
  top: 57px;
  text-transform: capitalize;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.main-word {
  font-size: 96px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: left;
}

.sec-word {
  font-size: 88px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: left;
}

.links {
  position: absolute;
  height: 214px;
  width: 25px;
  left: 79px;
  top: 359px;
  color: #FFFFFF;
}

li {
  list-style-type: none;
}
  
.follow-us {
  position: absolute;
  width: 82px;
  height: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  transform: rotate(90deg);
}

.twitter {
  height: 17px;
  width: 20.92px;
  left: 0px;
  top: 0px;
}

.inst {
  height: 20px;
  width: 20px;
  left: 0px;
  top: 0px;
}

.facebook {
  height: 23px;
  width: 11px;
  left: 0px;
  top: 0px;
}

.more {
  height: 26px;
  width: 126px;
  left: 897px;
  top: 673px;
  color: #FFFFFF;
}

.scroll-down {
  position: absolute;
  width: 101px;
  height: 25px;
  left: 897px;
  top: 674px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.icone-down {
  position: absolute;
width: 16px;
height: 24px;
left: 1007px;
top: 673px;
}

.collage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 250px;
  position: absolute;
  width: 1461px;
  height: 3901px;
  left: 229px;
  top: 1429px;
}

.col-1 {
  width: 1462px;
  height: 721px;
  left: -0.5px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.holiday-image {
  position: absolute;
  width: 598px;
  height: 720px;
  left: 0px;
  top: 1px;
}

.col-1-text {
  height: 546px;
  width: 632px;
  left: 830px;
  top: 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 27px;
  position: absolute;
}

.col-1-text-orange {
  width: 399px;
  height: 25px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.col-1-text-orange-line {
  position: absolute;
  width: 303px;
  height: 25px;
  left: 96px;
  top: 0px; 
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase; 
  color: #FBD784;
  white-space: nowrap;
}

.col-1-line {
  position: absolute;
  width: 72px;
  height: 2px;
  left: 0px;
  top: 10px;
  background: #FBD784;
}

.col-1-huge-text {
  width: 555px;
  top: 0px;
  height: 261px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.col-1-small-text {
  width: 632px;
  height: 160px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.col-1-read-more {
  width: 127px;
  height: 25px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.col-1-read-more-text {
  width: 94px;
  height: 25px;
  left: 0px;
  top: 527px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FBD784;
}

.col-1-read-more-text-btn { 
  position: absolute;
  left: 103px;
  top: 530px;
}

.col-2 {
  width: 1461px;
  height: 962px;
  top: 971px;
  left: 0px;
  flex: none;
  order: 1;
  flex-grow: 0; 
}

.col-2-background-image {
  position: absolute;
  width: 1461px;
  height: 985px;
  left: 0px;
  top: 971px;
}

.col-2-background-rectangle {
  position: absolute;
  width: 1461px;
  height: 440px;
  left: 0px;
  top: 1516px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 109.55%);
}

.col-2-text-orange {
  position: absolute;
  width: 296px;
  height: 25px;
  left: 434px;
  top: 1504px;
}

.col-2-line-1 {
  position: absolute;
  width: 72px;
  height: 2px;
  left: 373px;
  top: 11.89px;
  background: #FBD784;
}

.col-2-line-2 {
  position: absolute;
  width: 72px;
  height: 2px;
  left: 149px;
  top: 11.89px;
  background: #FBD784;
}

.col-2-text-orange-line {
  position: absolute;
  width: 94px;
  height: 25px;
  left: 250px;
  top: -0.11px; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784; 
}

.col-2-huge-text {
  position: absolute;
  width: 705px;
  height: 174px;
  left: 378.5px;
  top: 1553.38px;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  color: #FFFFFF;
}

.col-2-small-text {
  position: absolute;
  width: 934px;
  height: 96px;
  left: 264.5px;
  top: 1754.38px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

.col-2-read-more-text {
  position: absolute;
  width: 94px;
  height: 25px;
  left: 667.5px;
  top: 1889.38px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FBD784;
}

.col-2-read-more-text-btn {
  position: absolute;
  left: 770.5px;
  top: 1892.38px;
}

.col-3 {
  height: 720px;
  width: 1463px;
  left: -1px;
  top: 2183px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.col-3-text {
  position: absolute;
  left: 2.91%;
  right: 53.9%;
  top: 2298.14px;
  bottom: 16.23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 27px;
}

.col-3-text-orange {
  width: 400px;
  height: 25px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.col-3-line {
  position: absolute;
  width: 72px;
  height: 2px;
  left: 0px;
  top: 11px;
  background: #FBD784;
}

.col-3-text-orange-line {
  position: absolute;
  width: 304px;
  height: 25px;
  left: 96px;
  top: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784; 
  white-space: nowrap;
}
  
.col-3-huge-text {
  width: 555px;
  height: 261px;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.col-3-small-text {
  width: 632px;
  height: 96px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.col-3-read-more-text {
  position: absolute;
  width: 94px;
  height: 25px;
  left: 0px;
  top: 463px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FBD784;
}

.col-3-read-more-text-btn {
  left: 103px;
  top: 468px;
  position: absolute;
}

.col-3-background-image {
  height: 720px;
  width: 578.487548828125px;
  left: 884.512451171875px;
  top: -0.35888671875px;
  float: right;
}

footer {
  position: absolute;
  width: 1460.86px;
  height: 748px;
  left: 229.07px;
  top: 4582px;
}

.row-1-footer {
  position: absolute;
  width: 1460.72px;
  height: 125.83px;
  left: 0.14px;
  top: 0px;
}

.logo-footer {
  position: absolute;
  width: 173px;
  height: 65px;
  left: 4px;
  top: 12px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
}

.line-footer-1 {
  position: absolute;
  width: 1460.72px;
  height: 1.38px;
  left: 0.14px;
  top: 124.44px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.cta-footer {
  position: absolute;
  width: 585.38px;
  height: 69.14px;
  left: 875.48px;
  top: 0px;
}

.cta-text-ready {
  position: absolute;
  height: 29px;
  left: 19.38%;
  right: 50.38%;
  top: calc(50% - 29px/2 - 0.07px);
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}

.footer-btn-1 {
  position: absolute;
  left: 59.11%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
.footer-btn-1-rectangle {
  position: absolute;
  left: -0.02%;
  right: 0.02%;
  top: 0%;
  bottom: 0%;
  background: #FFA343;
  border-radius: 8px;
}

.footer-btn-1-text {
  position: absolute;
  height: 22px;
  width: 95px;
  left: 69.42px;
  top: 24px; 
  font-weight: 700;
  font-size: 17px;
  line-height: 22px; 
  color: black;
}

.row-2-footer {
  position: absolute;
  width: 1364.11px;
  height: 248px;
  left: 0px;
  top: 181px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 50px;
  position: absolute;
  width: 399.6px;
  height: 221px;
  left: 0px;
}

.newsletter-text {
  width: 361px;
  height: 98px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.form-footer {
  width: 399.6px;
  height: 70.52px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.form-footer-text {
  position: absolute;
  height: 20px;
  left: 3.74%;
  right: 72.49%;
  top: 167px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.form-footer-rectangle {
  height: 1.38px;
  width: 399.6px;
  left: 0px;
  top: 69.135px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 98.04%;
  bottom: 0%;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.footer-submit {
  position: absolute;
  width: 69.14px;
  height: 69.14px;
  left: 330.47px;
  top: 0px;
}

.footer-submit-rectangle {
  position: absolute;
  left: 82.7%;
  right: 0%;
  top: 0%;
  bottom: 1.96%;
  background: #FFA343;
  border-radius: 8px 8px 0px 0px;
  height: 69.13px;
  width: 69.13px;
  top: 148px;
}

.footer-icon-submit {
  position: absolute;
  top: 28.09px;
  right: 29.96px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 34px 0px;
  gap: 45px;
  position: absolute;
  width: 146.57px;
  height: 248px;
  left: 651.84px;
}

.services-orange {
  width: 89.88px;
  height: 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 0px;
  letter-spacing: -0.231818px;
  color: #FFD1A0;
  flex: none;
  order: 0;
  flex-grow: 0;
}

a.email-marketing {
  width: 146.57px;
  height: 0px;
  font-weight: 400;
  font-size: 19px;
  line-height: 0px;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  left: 0px;
  top: 79px;
}

.campaigns {
  width: 106.47px;
  height: 0px;
  font-weight: 400;
  font-size: 19px;
  line-height: 0px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.branding {
  width: 82.96px;
  height: 0px;
  font-weight: 400;
  font-size: 19px;
  line-height: 0px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.offline {
  width: 62.22px;
  height: 0px;
  font-weight: 400;
  font-size: 19px;
  line-height: 0px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.footer-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 34px 0px;
  gap: 45px;
  position: absolute;
  width: 146.57px;
  height: 248px;
  left: 983.05px;
}

.footer-about-text {
  width: 89.88px;
  height: 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 0px;
  letter-spacing: -0.231818px;
  color: #FFD1A0;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-help {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 34px 0px;
  gap: 45px;
  position: absolute;
  width: 105.09px;
  height: 158px;
  left: 1259.02px;
}

.footer-help-text {
  width: 48.4px;
  height: 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 0px;
  letter-spacing: -0.231818px;
  color: #FFD1A0;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.row-3-footer {
  position: absolute;
  width: 1379px;
  height: 30px;
  left: 40.86px;
  top: 530px;
}

.terms {
  position: absolute;
  height: 20px;
  left: 0%;
  right: 87.45%;
  top: calc(50% - 20px/2 + 1px);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
  font-family: 'DM Sans';
  font-style: normal;
}

.privacy {
  position: absolute;
  height: 20px;
  left: 16.2%;
  right: 75.09%;
  top: calc(50% - 20px/2 + 1px);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
  font-family: 'DM Sans';
  font-style: normal;
}

.links-footer {
  position: absolute;
  width: 172.97px;
  height: 30px;
  left: 1206.03px;
  top: 0px;
}

a.twitter-footer {
  width: 28.41px;
  height: 24.37px;
  left: 1270.54px;
  top: 2.73px;
}

a.inst-footer {
  width: 28.41px;
  height: 30px;
  left: 1350.59px;
  top: 0px;
}

a.facebook-footer {
  width: 12.81px;
  height: 27.06px;
  left: 1206.03px;
  top: 1.36px;
}

.copyright {
  position: absolute;
  width: 198px;
  height: 32px;
  left: 631.86px;
  top: 716px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
}