.footer{
    position: absolute;
    bottom: 0;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    height: 30px;
  
}
.footer__links{
display: flex;
justify-content: space-between;
gap: 50px;
}



