/* Download font 'Poppins' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;700&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #dbac74;
  --color-black: #383838;
  --color-white: #ffffff;
  --color-main: #5e659d;
  --color-orange: #dbac74;
}

/* COMMON PAGE STYLES */
html {
  /* Apply download font "Poppins" by setting that on the first position in a row */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: var(--main-bg-color);
  color: var(--color-white);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
  color: white;
}
li{
  list-style-type: none;
}
h1{
  font-size: 70px;
  font-weight: 400;
}
button{
  background: #5E659D;
border-radius: 10px;
color: white;
border: none;
cursor: pointer;
height: 45px;
width: 150px;
}
input{
  border: 4px solid #DBAC74;
border-radius: 20px;
height: 35px;
width: 300px;
}


