.content{
    width: 100%;
}
.content__text{
    position: absolute;
    bottom: 150px;
    right: 10px;
    transform: rotate(-90deg);
    transform-origin: bottom right;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

