/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
}

/* COMMON PAGE STYLES */
html {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-black);
  overflow-x: hidden;
}

h1,
h3,
p,
h2 {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Rubik", sans-serif;

}

/* this 3 styles was import from swiper js.com */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}


.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}



.app {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app-menu {
  position: absolute;
  left: 0%;
  padding: 15px;
  transition: transform 0.5s;
  transform: translateX(-200%);
  width: 15%;
  background-color: black;
  opacity: 40%;
  height: 97vh;
}
.menu-nav{
  position: absolute;
  top: 15vh;
  left: 0%;
}

.app__menu.active {
  transform: translateX(0);
}

.app-Allcontent {
  position: relative;
  top: 5%;
  width: 70%;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
}

.app-header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  max-height: 100%;
  width: 20%;
}

.header-nav-icons {
  display: none;
}

.main__content {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content__image {
  max-height: 40vh;
  width: 90%;
}

.content__description {
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.description__info1 {
  font-size: 3.2vh;
  font-weight: 500;
  line-height: 6vh;
}

.description__info2 {
  font-size: 5vh;
  font-weight: 700;
  line-height: 5vh;
}

.description__cost {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: start;

}

.cost {
  font-size: 6vh;
}

.cost__line {
  height: 100%;
  border: 3px solid rgba(255, 255, 255);
}

.cost__crossed {
  font-size: 4.2vh;
  text-decoration: line-through;
  opacity: 0.7;
}

.description__button {
  font-size: 3.2vh;
  line-height: 4vw;
  font-weight: 500;
  height: 50px;
  width: 100%;
  border-radius: 82px;
  border: none;
  color: #FF4948;
  background-color: white;
}

.app__content {
  position: relative;
  top: 10vh;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.swipper__heading {
  align-self: center;
  font-weight: 700;
  font-size: 5vh;
}

.content__statis {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
}

.statis__info {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}


.statis__heading {
  font-size: 4vh;
  font-weight: 500;
}

.statis__description {
  height: 30%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.description__block {
  margin: 0 5%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #FDD8D8;
  border-radius: 100px;
  height: 50px;
  width: 50px;
}

.description__border {
  position: absolute;
  border-radius: 100px;
  border: 5px solid #FDD8D8;
  border-bottom: 8px solid #FF4948;
  height: 140%;
  width: 140%;
}

.description__image {
  height: 55%;
  width: 55%;
}


.description__text {
  font-size: 2.2vh;
  line-height: 4vh;
}

.description__text--red {
  font-weight: 500;
  color: #FF4948;
}

.content__image--position {
  align-self: center;
  max-height: 100%;
  width: 30vh;
}

.content__product {
  margin: 0 auto;
  height: 80vh;
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product__title {
  width: 100%;
  text-align: center;
}

.title__heading {
  line-height: 10vh;
}

.title__text {
  line-height: 3.2vh;
}

.product__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product__item--first {
  display: none;
}

.product__item--third {
  display: none;
}

.product__photo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  width: 80%;
  height: 60%;
}

.product__photo--first {
  background: #FFE6EE;
}

.product__photo--second {
  background: #E6F1FF;
}

.product__photo--third {
  background: #E6FFFB;
}

.photo__block {
  position: absolute;
  border: 6px solid #FFFFFF;
  right: -8%;
  top: -8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  height: 7vh;
  width: 6.8vh;
}

.photo__block--first-icon {
  background: #FFE5EE;
}

.photo__block--second-icon {
  background: #E5F1FF;
}

.photo__block--third-icon {
  background: #E5FFFB;
}

.photo__icon {
  width: 50%;
  height: 50%;
}

.product__image {
  position: absolute;
  top: -16%;
  height: 110%;
  width: 50vw;
}

.product__rating {
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rating__block {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.product__stars {
  color: gold;
}

.image-star__item {
  height: 100%;
  width: 16%;
}

.rating__text {
  font-size: 2.6vh;
}

.rating__info {
  font-weight: 500;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.info__cost {
  font-size: 2.6vh;
}

.info__text {
  font-size: 2.2vh;
}

.content__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 70vh;
}

.box__image {
  width: 40vh;
  height: 60vh;
}

.box__info {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.info__heading {
  font-weight: 700;
}

.info__params {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 30vh;
}

.params__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.params__item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item__photo {
  margin-right: 4%;
  height: 52%;
  width: 6%;
}

.item__text {
  font-size: 2.6vh;
  color: rgba(0, 0, 0, 0.7);
}

.content__subscribe {
  height: 44vh;
  background: #FFF4F4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.subscribe__heading {
  font-weight: 700;
  line-height: 8vh;
  font-size: 10vw;
}

.subscribe__text {
  font-size: 3.8vw;
}

.subscribe__input {
  height: 46%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input__text {
  border: none;
  width: 94%;
  height: 38%;
  border-radius: 20px;
  font-size: 4vw;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 5%;
}

.input__button {
  border: none;
  width: 100%;
  height: 38%;
  border-radius: 20px;
  font-size: 4.8vw;
  font-weight: 500;
  color: white;
  text-align: center;
  background: #FF4948;
}

.app__footer {
  z-index: 1;
  position: relative;
  top: 40vh;
}

.icons-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: white;
  height: 7vh;
  width: 12vw;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}

.footer__back {
  position: relative;
  top: 100px;
  width: 100vw;
  height: 30vh;
  background: linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
}

.block__social {
  display: flex;
  gap: 10%;
  align-items: center;
}

.block__social--active {
  display: none;
}

@media screen and (min-width: 768px) {
  a {
    font-size: 30px;
  }

  .block__social--active {
    display: flex;
  }

  .header__button--burger {
    width: 5%;
  }

  .header__nav--icons {
    width: 20%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .icons__item {
    height: 7vh;
    width: 3vw;
  }

  .item__line {
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 7vh;
  }

  .main__content {
    height: 80vh;
    flex-direction: row;
    align-items: start;
  }

  .item__image {
    height: 50%;
    width: 50%;
  }

  .content__description {
    height: 90%;
    width: 50%;
  }

  .content__image {
    max-height: 100vh;
    width: 70vh;
  }

  .description__cost {
    width: 70%;
    align-items: center;
  }


  .description__info2 {
    font-size: 7vw;
    font-weight: 700;
    line-height: 7vw;
  }

  .description__info1 {
    font-size: 4vh;
    font-weight: 500;
    line-height: 6vh;
  }

  .description__button {
    height: 12%;
    width: 40%;
  }



  .content__statis {
    width: 94%;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

  }

  .statis__info {
    width: 50%;
    height: 100%;
  }

  .statis__description {
    gap: 0px;
    justify-content:left;
  }
  
  .description__heading {
    align-self: start;
    font-weight: 700;
    font-size: 5vh;
  }


  .description__block {
    width: 10%;
    height: 32%;
  }

  .statis__heading {
    font-size: 4.2vh;
  }

  .content__image--position {
    margin: 0 auto;
    align-self: center;
    max-height: 86%;
    width: 50%;
  }

  .content__product {
    width: 82vw;
  }

  .product__item--first {
    display: flex;
  }

  .product__item--third {
    display: flex;
  }

  .product__image {
    width: 80%;
  }

  .product__title {
    width: 48%;
  }

  .title__heading {
    line-height: 7vh;
  }

  .content__box {
    width: 90%;
    flex-direction: row;
  }

  .box__info {
    width: 70%;
  }

  .box__image {
    width: 46vw;
    height: 60vh;
  }

  .content__subscribe {
    margin: 0 auto;
    width: 50vw;
    height: 36vh;
  }

  .subscribe__heading {
    line-height: 8vh;
    font-size: 3.4vw;
  }

  .subscribe__text {
    font-size: 1.2vw;
  }

  .subscribe__input {
    position: relative;
    height: 20%;
    width: 70%;
    flex-direction: row;
  }

  .input__text {
    height: 100%;
    font-size: 1.2vw;
  }

  .input__button {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    font-size: 1.4vw;
  }
}
